@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;1,400;1,600&display=swap');

/*

_____________________
selector{
  attribute1: value1;
  attribute2: value2;
}
_____________________


the way to do it in .js: element.style.textAlign=center 

flex HAS to refer to main, not to div here

klockan{
  padding: 12 3 6 9 --> 4 directions
  margin: 12 3 6 --> top, bredth, bottom
  border-width: 12 3 --> hight, width
  outline: 12 --> all the same
}
if you want to have the same up & down and/or left&right – just write it once

.author -->shorthand for class;
you could write it like this: class:author

div>* {
  border: 5px solid green;
} --> direct descendant selector: ALL ELEMENTS WITHIN every DIV

div * {
  border: 5px solid green;
}
--> all descendant selector: ALL ELEMENTS WITHIN every element from here down

article:last-child {
  border-bottom: none;
} --> pseudo-selector

article:nth-child(5) {
  border-bottom: none;
}

# = id
id is unique, only one element can use it

em - width of "m"
ex - hight of "x"

base font size is 16

*/
body {
  font-family: 'Playfair Display', serif;
  font-size: 12px;
}



header {
  border-bottom: 1px solid gray;
  margin-bottom: 1.5vh;
  padding: none;
}


#price,
#date {
  display: inline-block;
  width: calc(50% - 2em)
}

#price {
  margin-left: 2vw;
}

#date {
  text-align: right;
}

h1 {
  text-align: center;
  margin-bottom: 0.5;
  font-size: 200%;
  font-weight: normal;
}

h2 {
  margin-top: 0;
  font-size: 130%;
  font-weight: normal;
}

h3 {
  font-size: 100%;
  font-weight: bold;
}

main {
  display: flex;
}

main>div {
  width: 26vw;
  padding: 1vh 2vw;
  /*viewport hight, viewport width: relative to the whole page; if you use %, it refers to every single element (worse solution)*/
}

main>div:nth-child(2) {
  width: 45vw;
}


.author {
  font-style: italic;
  text-align: right;
}

article {
  border-bottom: 1px solid gray;
  margin-bottom: 2.5vh;
  text-align: justify;
}

article:last-child {
  border-bottom: none;
}

article>div>img {
  width: 100%;
}

main>div:first-child {
  border-right: 1px solid gray;
}

main>div:last-child {
  border-left: 1px solid gray;
}